<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Forest_Cone_Harvesting_Robot">

  <!-- ================= 공중 고정 기준 프레임 (world) ================= -->
  <link name="world"/>

  <!-- ================= X 방향 병진 자유도 (prismatic) ================= -->
  <link name="carriage_x">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
  </link>
  <joint name="joint_x" type="prismatic">
    <!-- 게이트리를 공중(z=1.2 m)에 배치 -->
    <origin xyz="0 0 1.2" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="carriage_x"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.5" upper="0.5" effort="100" velocity="1.0"/>
  </joint>

  <!-- ================= Y 방향 병진 자유도 (prismatic) ================= -->
  <link name="carriage_y">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
  </link>
  <joint name="joint_y" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="carriage_x"/>
    <child link="carriage_y"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.5" upper="0.5" effort="100" velocity="1.0"/>
  </joint>

  <!-- ===== 로봇을 뒤집어 매다는 고정 joint (x축 180° 회전) ===== -->
  <joint name="mount_flip" type="fixed">
    <origin xyz="0 0 0" rpy="3.14159265 0 0"/>
    <parent link="carriage_y"/>
    <child link="base_link"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.01024 0 0.02917"
        rpy="0 0 0" />
      <mass
        value="0.205" />
      <inertia
        ixx="0.00027"
        ixy="0"
        ixz="6E-05"
        iyy="0.00033"
        iyz="0"
        izz="0.00013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/base_link.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/base_link.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.23315 0 0.0003"
        rpy="0 0 0" />
      <mass
        value="0.394" />
      <inertia
        ixx="0.00011"
        ixy="0"
        ixz="-4E-05"
        iyy="0.02625"
        iyz="0"
        izz="0.02621" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link1.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link1.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.04475"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.06362 0.00046 0"
        rpy="0 0 0" />
      <mass
        value="0.205" />
      <inertia
        ixx="6E-05"
        ixy="-1E-05"
        ixz="0"
        iyy="0.00095"
        iyz="0"
        izz="0.00096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link2.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link2.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.333 0 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.06268 0.01244 0"
        rpy="0 0 0" />
      <mass
        value="0.304" />
      <inertia
        ixx="0.00017"
        ixy="-0.00022"
        ixz="0"
        iyy="0.00142"
        iyz="0"
        izz="0.00151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link3.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link3.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.0835 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.00062 -0.04272 0.11889"
        rpy="0 0 0" />
      <mass
        value="0.856" />
      <inertia
        ixx="0.02161"
        ixy="0"
        ixz="3E-05"
        iyy="0.01623"
        iyz="0.00284"
        izz="0.00887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link4.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Forest_Cone_Harvesting_Robot/meshes/link4.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="continuous">
    <origin
      xyz="0.081 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link name="tcp"/>
  <joint name="tcp" type="fixed">
    <parent link="link4"/>
    <child link="tcp"/>
    <origin rpy="0.0                         0.0                         0.0" xyz="0.0                          0.0                          0.25"/>
  </joint>
</robot>